.form legend {
  font-family: "eveleth-thin";
  line-height: 1.5;
  color: white; }

.form p {
  font-family: "eveleth-thin";
  line-height: 1.2;
  color: white; }

.form article {
  font-family: "eveleth-thin";
  line-height: 0.4;
  color: white; }